:root {
  --fg-color: aliceblue;
  --bg-color: #3f5454;

  /* opacity settings */
  --enabled: 1;
  --disabled: .3;

  /* readonly-ish settings; how redundant are these? */
  --depth-active: 0;
  --depth-hidden: -1;
}

* {
  font-family: system-ui, sans-serif;
  position: relative;
}

input {
  appearance: none;
  background-color: #fff1;
  border: none;
  border-radius: .5em;
  color: inherit;
  font-size: large;
  line-height: 2em;
  margin-top: .5em;
  outline: none;
  padding-left: .33em;
}

button {
  background-color: #0001;
  border-color: darkseagreen;
  color: var(--fg-color);
  font-size: larger;
  font-weight: bolder;

  &:focus-visible {
    outline: none;
  }
}

html {
  background-color: var(--bg-color);
}

body {
  color: var(--fg-color);
  line-height: 200%;
  padding-left: 30%;
  padding-top: 20%;

  &>.login {

    & button {
      border-color: darkseagreen;
      border-radius: 1em;
      height: 1.5em;
      width: 1.5em;

      &.create {
        color: cadetblue;
      }

      &.cancel {
        color: crimson;
      }

      &:is(.ok, .save, .reset) {
        color: chartreuse;
      }

      &:is(.forgot, .change) {
        color: chocolate;
      }
    }

    &>.state {
      font-size: 150%;
      margin-bottom: 2em;
      text-align: center;
      text-shadow: 2px 2px 5px lightseagreen;
      width: 26em;

      &::before {
        content: 'welcome';
      }
    }

    &>.field {
      clear: both;
      display: none;
      float: none;
      line-height: 2.33;
      z-index: var(--depth-hidden);

      &::before {
        display: inline-block;
        font-size: larger;
        padding-right: .33em;
        text-align: right;
        width: 10em;
      }

      &.mfa {
        &::after {
          color: crimson;
          content: '☀';
          width: 1em;
        }

        &.empty::after {
          color: orange;
        }

        &.complete::after {
          color: transparent;
        }
      }

      &>input {
        margin-right: .33em;
        width: 16em;

        &::placeholder {
          font-style: italic;
        }

        /* why isn't this working */
        &:-webkit-autofill,
        &:autofill {
          background-color: black;
        }
      }
    }

    &>.username {
      display: block;
      z-index: var(--depth-active);

      &::before {
        content: 'username:';
      }

      &>button {
        display: none;
      }

      &.complete>.create {
        display: initial;
      }
    }

    &>.password {
      display: block;

      &::before {
        content: 'password:';
      }

      &>:is(.ok, .change) {
        display: none;
        /* opacity: var(--enabled); */
        /* z-index: var(--depth-active); */
      }
    }

    &>.psa {
      display: none;
      font-size: larger;
      font-weight: bolder;
      margin-top: 1em;
      text-align: justify;
      /* label-width + input-width + some-extra */
      width: 28em;
    }

    &>.cell {
      &::before {
        content: 'cell phone:';
      }
    }

    &>.email {
      &::before {
        content: 'email:';
      }
    }

    &>button.forgot {
      border-radius: .5em;
      display: none;
      height: auto;
      line-height: 1.5;
      margin-top: 1em;
      padding-left: 1em;
      padding-right: 1em;
      width: 5em;

      &.cancel {
        margin-left: 16em;
      }

      &.reset {
        color: #52ba73;
      }
    }

    &>.newpass {
      &::before {
        content: 'new password:';
      }
    }

    &>.verify {
      &::before {
        content: 'verify password:';
      }
    }

    &.adding {
      &>.state::before {
        content: 'create an account';
      }

      &>.username.complete {
        &>.create {
          display: none;
        }

        &>.cancel {
          display: initial;
        }
      }

      &>.password {
        display: none;
      }

      &>.add {
        display: block;
        z-index: var(--depth-active);
      }
    }

    &.mismatch {
      &>.matchable {
        &>input {
          background-color: #f882;
        }

        &>.save {
          opacity: var(--disabled);
          z-index: var(--depth-hidden);
        }
      }
    }

    &.missing>.mfa::after {
      color: crimson !important;
    }

    &[id] {
      &>.state::before {
        content: 'login';
      }

      &>.username.complete {
        &>.create {
          display: none;
        }

        &>.forgot {
          display: initial;
        }
      }

      &>.password {
        z-index: var(--depth-active);

        &.complete>:is(.ok, .change) {
          display: initial;
        }
      }

      &.editing {
        &>.state::before {
          content: 'change password';
        }

        &>.edit {
          display: block;
          z-index: var(--depth-active);
        }

        &>.username>.forgot,
        &>.password>:is(.ok, .change) {
          display: none;
        }
      }

      &.forgetting {
        &>.state::before {
          content: 'request new password';
        }

        &>.username>.forgot,
        &>.password {
          display: none;
        }

        &>.forgot {
          display: revert;
          z-index: var(--depth-active);

          &.field {
            display: block;
          }
        }
      }
    }
  }

  &>.message {
    display: none;

    &>.window {
      background-color: grey;
      border-color: snow;
      border-radius: 1em;
      border-style: outset;
      border-width: 8px;
      float: left;
      padding: .66em;
      width: 33em;

      &>.exception {
        height: 10em;
        width: 100%;

        &::before {
          border-color: darkgrey;
          border-radius: 1em;
          border-style: ridge;
          border-width: 7px;
          display: inline;
          float: left;
          font-size: 300%;
          font-weight: bolder;
          line-height: 1.5em;
          margin: .66em .66em 0 0;
          text-align: center;
          vertical-align: middle;
          width: 1.5em;
        }

        &>div {
          float: left;
          font-size: large;
          text-align: center;

          &.method {
            width: 4em;
          }

          &.status {
            width: 2em;
          }

          &.url {
            overflow-x: clip;
            text-align: left;
            text-overflow: ellipsis;
            white-space: nowrap;
            width: calc(100% - 13em);

            &::before {
              content: 'url: ';
              font-variant: petite-caps;
            }
          }

          &.message {
            line-height: 1.5;
            overflow-x: hidden;
            overflow-y: auto;
            text-align: justify;
            width: calc(100% - 8rem);
          }
        }
      }

      &>.ok {
        border-radius: .33em;
        float: right;
        font-size: large;
        line-height: 1.5em;
        margin: .5em .5em 0 0;
        width: 6em;
      }
    }

    &.error>.window>.exception::before {
      background-color: red;
      content: '!';
    }

    &.info>.window>.exception::before {
      background-color: blue;
      content: 'i';
    }
  }

  &.messaging {
    &>.login {
      display: none;
    }

    &>.message {
      display: block;
    }
  }
}